{% extends 'base.html.twig' %}

{% block body %}
    <section style="height:700px;" class="table">
        <div class="container">
            <div class="row">
                <h1>Page not found</h1>
                <p style="font-size: 20px;">The requested page couldn't be located. Checkout for any URL misspelling or <a href="{{ path('Live_rates_stocks') }}">return to the homepage</a>.</p>
            </div>
        </div>
    </section>
{% endblock %}
