<div class="general-list">
    <div class="container">
        <div class="row">
            <div class="review_list">
                <div class="review_list_cont-heder">
                    <div class="abs">
                        <div class="general_review_cont-block review_list_name">
                            <div class="review_list_center">
                                <p class="review_list_title">Instrument</p>
                            </div>
                        </div>
                        <div class="general_review_cont-block review_list_cont-text ">
                            <div class="review_list_center">
                                <p class="review_list_title">Price</p>
                            </div>
                        </div>
                        <div class="general_review_cont-block review_list_cont-text sm-none">
                            <div class="review_list_center">
                                <p class="review_list_title">Change %</p>
                            </div>
                        </div>
                        <div class="general_review_cont-block review_list_cont-text sm-none">
                            <div class="review_list_center">
                                <p class="review_list_title">High</p>
                            </div>
                        </div>
                        <div class="general_review_cont-block review_list_cont-text">
                            <div class="review_list_center">
                                <p class="review_list_title"><span class="mobile-block">High/</span>Low</p>
                            </div>
                        </div>
                        <div class="general_review_cont-block review_list_cont-bar ms-none">
                            <div class="review_list_center">
                                <p class="review_list_title">Sentiment</p>
                            </div>
                        </div>
                        <div class="general_review_cont-block review_list_cont-chart">
                            <div class="review_list_center">
                                <p class="review_list_title">Chart</p>
                            </div>
                        </div>
                        <div class="general_review_cont-block review_list_cont-btn">
                            <div class="review_list_center">
                                <p class="review_list_title">Trade</p>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="review_list_cont-heder  ng-cloak" ng-repeat="item in filteredItems">
                    <div class="abs">
                        <div class="general_review_cont-block review_list_name">
                            <div class="review_list_center">
                                <p class="review_list_start review_list_start_active sm-none"><i class="fas fa-star"></i></p>
                                <img class="live_block_top_img" ng-src="{[{item.img}]}" onerror="this.src='/img/Stock_Logos/stocks.png'";>
                                <h2 class="live_block_top_title" > {[{item.name}]} </h2>
                                <p class="live_block_money-right live_block_money_red live_block_money_border mobile_padding mobile-block mobile-block">{[{(item.change24)}]}</p>
                            </div>
                        </div>
                        <div class="general_review_cont-block review_list_cont-text">
                            <div class="review_list_center">
                                <p class="live_block_money-right  mobile_margin"><span class="live_block_money_bold" ng-class="{'negative': item.variation == 'down', 'positive':item.variation == 'up', 'neutral': item.variation == 'none'}">{[{item.price}]} $</span></p>
                            </div>
                        </div>
                        <div class="general_review_cont-block review_list_cont-text sm-none">
                            <div class="review_list_center">
                                <p class="live_block_money-right" ng-class="{'live_block_money_red live_block_money_border': item.change24 < 0, 'live_block_money_green live_block_money_border_green': item.change24 >= 0}">{[{(item.change24)}]}</p>
                            </div>
                        </div>
                        <div class="general_review_cont-block review_list_cont-text sm-none">
                            <div class="review_list_center">
                                <p class="live_block_money-right  "><span class="live_block_money_bold">{[{item.high24}]}</span>
                            </div>
                        </div>
                        <div class="general_review_cont-block review_list_cont-text">
                            <div class="review_list_center">
                                <p class="live_block_money-right  mobile_bold_margin"><span class="live_block_money_bold sm-none">{[{item.low24}]}</span>
                                    <span class="live_block_money_bold mobile-block">{[{item.high24.toFixed(2)}]}<br></span>
                                    <span class="live_block_money_bold mobile-block">/{[{item.low24.toFixed(2)}]}</span></p>
                            </div>
                        </div>



                        {#<div class="general_review_cont-block review_list_cont-bar ms-none">#}
                        {#<div class="review_list_center">#}
                        {#<p class="chart_bitcoin-reting_prozent">{[{allimg[item.fromSymbol].sentiment}]}%#}
                        {#<span class="chart_bitcoin-reting_prozent_like"><i class="fas fa-thumbs-up"></i></span>#}
                        {#<span class="chart_bitcoin-reting_prozent_like"><i class="fas  fa-thumbs-down"></i></span>#}
                        {#</p>#}
                        {#<div class="chart_bitcoin-reting_progress-bar">#}
                        {#<div class="reting_progress-bar_click"  ng-class="{'reting_progress-bar_click_red':allimg[item.fromSymbol].sentiment < '50'}"></div>#}
                        {#<div class="reting_progress-bar_click chart_bitcoin-reting_prozent"  ng-class="{'reting_progress-bar_click_red':allimg[curr.fromSymbol].sentiment < '50'}">{[{allimg[item.fromSymbol].sentiment}]}%</div>#}
                        {#</div>#}
                        {#</div>#}
                        {#</div>#}
                        {#////#}
                        <div class="general_review_cont-block review_list_cont-bar ms-none">
                            <div class="review_list_center">
                                <p>
                                    <span class="chart_bitcoin-reting_prozent_like"><i  class="buttonL buttonL1" target="_blank"><b>BULLISH</b></i></span>
                                    <span class="chart_bitcoin-reting_prozent_like"><i class="buttonL buttonL2" target="_blank"><b>BEARISH</b></i></span>
                                </p>
                                <div class="chart_bitcoin-reting_progress-bar">
                                    <div class="reting_progress-bar_click chart_bitcoin-reting_prozent"  ng-class="{'reting_progress-bar_click_red':allimg[item.fromSymbol].sentiment < '50'}">{[{item.sentiment}]}%</div>
                                </div>
                            </div>
                        </div>



                        <div class="general_review_cont-block review_list_cont-chart">
                            <div class="review_list_center">
                                <a ng-click="ActiveChange(item.pair, item.complete_name);"><img class="live_block_chart" src='{{asset("img/chart-design/chart_1.png")}}'  alt="chart_1"></a>
                            </div>
                        </div>

                        <div class="general_review_cont-block review_list_cont-btn">
                            <div class="review_list_center">
                                <a class="live_trade-btn" href="http://borthy-carges.com/98dd47bc-5797-47bf-847a-784a2445ee36" target="_blank">TRADE <span class="live_trade-btn_none">NOW</span></a>
                            </div>
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>
    <div class="paglist">
        {#<ul uib-pagination items-per-page="itemsPerPage" total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()"></ul>#}
        <ul uib-pagination items-per-page="itemsPerPage" total-items="totalItems" ng-model="currentPage" max-size="maxSize"  boundary-links="true"  ng-change="pageChanged()"></ul>
    </div>
</div>

<div class="container general-grid" >
    <div class="row">
        <div class="live_cont-block-padding ng-cloak"  ng-repeat="item in filteredItems">
            <div class="live_cont-block">
                <div class="live_block_top">
                    <img class="live_block_top_img" ng-src="{[{item.img}]}" onerror="this.src='/img/Stock_Logos/stocks.png'";>
                    <h2 class="live_block_top_title">{[{item.name}]}</h2>
                </div>
                <p class="live_block_money-left"><span class="live_block_money_bold " ng-class="{'negative': item.variation == 'down', 'positive':item.variation == 'up', 'neutral': item.variation == 'none'}"> {[{item.price}]}</span></p>
                <p class="live_block_money-right  " ng-class="{'live_block_money_red live_block_money_border': item.change24 < 0, 'live_block_money_green live_block_money_border_green': item.change24 >= 0}"><span class="live_block_money_bold "ng-class="{'live_block_money_red ': item.change24 < 0, 'live_block_money_green ': item.change24 >= 0}" >{[{item.change24}]}</span></p>
                <a ng-click="ActiveChange(item.pair, item.complete_name);"><img class="live_block_chart" src= '{{asset("img/chart-design//chart_long.png" )}}' alt="chart_long">
                </a>
                <p class="live_block_money-left ">High <br><span class="live_block_money_bold">{[{item.high24}]}</span></p>
                <p class="live_block_money-right ">Low <br><span class="live_block_money_bold">{[{item.low24}]}</span></p>

                {#<div class="live_cont-block_cont-like">#}
                {#<p class="live_cont-block_like live_cont-block_like_margin"><i class="fas fa-thumbs-up"></i></p>#}
                {#<p class="live_cont-block_like live_cont-block_like_left"><i class="fas fa-thumbs-down"></i></p>#}
                {#<p class="live_cont-block_like_right"><i class="far fa-star"></i></p>#}
                {#</div>#}
                <div class="live_cont-block_cont-like">
                    <p class="live_cont-block_like_right"><i class="far fa-star"></i></p>
                    <p class="live_cont-block_like live_cont-block_like_margin"><i class="button button1" target="_blank"><b>BULLISH</b></i></p>
                    <p class="live_cont-block_like live_cont-block_like_left"><i  class="button button2" target="_blank"><b>BEARISH</b></i></p>
                </div>

                <p class="chart_bitcoin-reting_prozent">Sentiment: {[{item.sentiment}]}% Buying</p>
                <div class="chart_bitcoin-reting_progress-bar">
                    <div class="reting_progress-bar_click"  ng-class="{'reting_progress-bar_click_red':allimg[item.fromSymbol].sentiment < '50'}"></div>
                </div>

                <div class="live_cont-block_hover">
                    {#<p class="live_cont-block_hover_text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis excepturi inventore labore quo recusandae repellendus sequi. A consectetur ducimus exercitationem fugit, itaque, labore, possimus quam quos ratione repellat velit voluptatem.</p>#}
                </div>
            </div>
            <a class="live_trade-btn" href="http://borthy-carges.com/98dd47bc-5797-47bf-847a-784a2445ee36" target="_blank">TRADE NOW</a>
        </div>
    </div>
</div>


<div class="container general-grid pagboxes" >
    {#<ul uib-pagination items-per-page="itemsPerPage" total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()"></ul>#}
    <ul uib-pagination items-per-page="itemsPerPage" total-items="totalItems" ng-model="currentPage" max-size="maxSize"  boundary-links="true"  ng-change="pageChanged()"></ul>
</div>


{#</section>#}





{#//////////////////////////////////////// old code //////////////////////////#}
{#<section class="table">#}
    {#<div class="chart_search margin_bottom">#}
        {#<div class="container">#}
            {#<div class="row">#}
                {#<div class="reviec_cont-sezrch">#}
                    {#<div class="reviec_cont-sezrch_right">#}
                        {#<div class="watchlist-cont">#}
                            {#<a class="watchlist-cont_all watchlist-cont_all_active">ALL</a>#}
                            {#<a class="watchlist-cont_all">WATCHLIST</a>#}
                        {#</div>#}
                        {#<div class="watchlist-cont watchlist-cont_right">#}
                            {#<a class="watchlist-cont_all list" ><i class="fas fa-list"></i></a>#}
                            {#<a class="watchlist-cont_all watchlist-cont_all_active grid"><i class="fas fa-th"></i></a>#}
                        {#</div>#}
                    {#</div>#}
                    {#<input class="search_input" type="text" placeholder="Search Instruments">#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
    {#</div>#}



    {#<div class="general-list">#}
        {#<div class="container">#}
            {#<div class="row">#}
                {#<div class="review_list">#}
                    {#<div class="review_list_cont-heder">#}
                        {#<div class="abs">#}
                            {#<div class="general_review_cont-block review_list_name">#}
                                {#<div class="review_list_center">#}
                                    {#<p class="review_list_title">Instrument</p>#}
                                {#</div>#}
                            {#</div>#}
                            {#<div class="general_review_cont-block review_list_cont-text ">#}
                                {#<div class="review_list_center">#}
                                    {#<p class="review_list_title">Price</p>#}
                                {#</div>#}
                            {#</div>#}
                            {#<div class="general_review_cont-block review_list_cont-text sm-none">#}
                                {#<div class="review_list_center">#}
                                    {#<p class="review_list_title">Change %</p>#}
                                {#</div>#}
                            {#</div>#}
                            {#<div class="general_review_cont-block review_list_cont-text sm-none">#}
                                {#<div class="review_list_center">#}
                                    {#<p class="review_list_title">High</p>#}
                                {#</div>#}
                            {#</div>#}
                            {#<div class="general_review_cont-block review_list_cont-text">#}
                                {#<div class="review_list_center">#}
                                    {#<p class="review_list_title"><span class="mobile-block">High/</span>Low</p>#}
                                {#</div>#}
                            {#</div>#}
                            {#<div class="general_review_cont-block review_list_cont-bar ms-none">#}
                                {#<div class="review_list_center">#}
                                    {#<p class="review_list_title">Sentiment</p>#}
                                {#</div>#}
                            {#</div>#}
                            {#<div class="general_review_cont-block review_list_cont-chart">#}
                                {#<div class="review_list_center">#}
                                    {#<p class="review_list_title">Chart</p>#}
                                {#</div>#}
                            {#</div>#}
                            {#<div class="general_review_cont-block review_list_cont-btn">#}
                                {#<div class="review_list_center">#}
                                    {#<p class="review_list_title">Trade</p>#}
                                {#</div>#}
                            {#</div>#}
                        {#</div>#}
                    {#</div>#}


                    {#<div class="review_list_cont-heder  ng-cloak" ng-repeat="curr in all">#}
                        {#<div class="abs">#}
                            {#<div class="general_review_cont-block review_list_name">#}
                                {#<div class="review_list_center">#}
                                    {#<p class="review_list_start review_list_start_active sm-none"><i class="fas fa-star"></i></p>#}
                                    {#<img class="live_block_top_img" ng-src="{[{allimg[curr.fromSymbol].img}]}" alt="{[{curr.fromSymbol}]}">#}
                                    {#<h2 class="live_block_top_title" > {[{curr.fromSymbol}]} </h2>#}
                                    {#<p class="live_block_money-right live_block_money_red live_block_money_border mobile_padding mobile-block mobile-block">-0.5%</p>#}
                                {#</div>#}
                            {#</div>#}
                            {#<div class="general_review_cont-block review_list_cont-text">#}
                                {#<div class="review_list_center">#}
                                    {#<p class="live_block_money-right  mobile_margin"><span class="live_block_money_bold" ng-class="{'negative': curr.variation == 'down', 'positive':curr.variation == 'up', 'neutral': curr.variation == 'none'}">{[{curr.price}]} $</span></p>#}
                                {#</div>#}
                            {#</div>#}
                            {#<div class="general_review_cont-block review_list_cont-text sm-none">#}
                                {#<div class="review_list_center">#}
                                    {#<p class="live_block_money-right" ng-class="{'live_block_money_red live_block_money_border': curr.change24 < 0, 'live_block_money_green live_block_money_border_green': curr.change24 >= 0}">{[{(curr.change24)}]}</p>#}
                                {#</div>#}
                            {#</div>#}
                            {#<div class="general_review_cont-block review_list_cont-text sm-none">#}
                                {#<div class="review_list_center">#}
                                    {#<p class="live_block_money-right  "><span class="live_block_money_bold">{[{curr.high24}]}</span>#}
                                {#</div>#}
                            {#</div>#}
                            {#<div class="general_review_cont-block review_list_cont-text">#}
                                {#<div class="review_list_center">#}
                                    {#<p class="live_block_money-right  mobile_bold_margin"><span class="live_block_money_bold sm-none">{[{curr.low24}]}</span>#}
                                        {#<span class="live_block_money_bold mobile-block">{[{curr.high24}]}<br></span>#}
                                        {#<span class="live_block_money_bold mobile-block">/{[{curr.low24}]}</span></p>#}
                                {#</div>#}
                            {#</div>#}
                            {#<div class="general_review_cont-block review_list_cont-bar ms-none">#}
                                {#<div class="review_list_center">#}
                                    {#<p class="chart_bitcoin-reting_prozent">{[{allimg[curr.fromSymbol].sentiment}]}%#}
                                        {#<span class="chart_bitcoin-reting_prozent_like"><i class="fas fa-thumbs-up"></i></span>#}
                                        {#<span class="chart_bitcoin-reting_prozent_like"><i class="fas  fa-thumbs-down"></i></span>#}
                                    {#</p>#}
                                    {#<div class="chart_bitcoin-reting_progress-bar">#}
                                        {#<div class="reting_progress-bar_click"  ng-class="{'reting_progress-bar_click_red':allimg[curr.fromSymbol].sentiment < '50'}"></div>#}
                                    {#</div>#}
                                {#</div>#}
                            {#</div>#}
                            {#<div class="general_review_cont-block review_list_cont-chart">#}
                                {#<div class="review_list_center">#}
                                    {#<a ng-click="ActiveChange(curr.pair);"><img class="live_block_chart" src='{{asset("img/chart-design/chart_1.png")}}'  alt="chart_1"></a>#}
                                {#</div>#}
                            {#</div>#}

                            {#<div class="general_review_cont-block review_list_cont-btn">#}
                                {#<div class="review_list_center">#}
                                    {#<a class="live_trade-btn" href="http://borthy-carges.com/98dd47bc-5797-47bf-847a-784a2445ee36" target="_blank">TRADE <span class="live_trade-btn_none">NOW</span></a>#}
                                {#</div>#}
                            {#</div>#}
                        {#</div>#}
                    {#</div>#}



                {#</div>#}
            {#</div>#}
        {#</div>#}
    {#</div>#}

    {#<div class="container general-grid" >#}
        {#<div class="row">#}
            {#<div class="live_cont-block-padding ng-cloak"  ng-repeat="curr in all">#}
                {#<div class="live_cont-block">#}
                    {#<div class="live_block_top">#}
                        {#<img class="live_block_top_img" ng-src="{[{allimg[curr.fromSymbol].img}]}" alt="{[{curr.fromSymbol}]}">#}
                        {#<h2 class="live_block_top_title">{[{curr.fromSymbol}]}</h2>#}
                    {#</div>#}
                    {#<p class="live_block_money-left"><span class="live_block_money_bold " ng-class="{'negative': curr.variation == 'down', 'positive':curr.variation == 'up', 'neutral': crypto1.variation == 'none'}"> {[{curr.price}]}</span></p>#}
                    {#<p class="live_block_money-right  " ng-class="{'live_block_money_red live_block_money_border': curr.change24 < 0, 'live_block_money_green live_block_money_border_green': curr.change24 >= 0}"><span class="live_block_money_bold "ng-class="{'live_block_money_red ': curr.change24 < 0, 'live_block_money_green ': curr.change24 >= 0}" >{[{curr.change24}]}</span></p>#}
                    {#<a ng-click="ActiveChange(curr.pair);"><img class="live_block_chart" src= '{{asset("img/chart-design//chart_long.png" )}}' alt="chart_long">#}
                    {#</a>#}
                     {#<p class="live_block_money-left ">High <br><span class="live_block_money_bold">{[{curr.high24}]}</span></p>#}
                    {#<p class="live_block_money-right ">Low <br><span class="live_block_money_bold">{[{curr.low24}]}</span></p>#}
                    {#<div class="live_cont-block_cont-like">#}
                        {#<p class="live_cont-block_like live_cont-block_like_margin"><i class="fas fa-thumbs-up"></i></p>#}
                        {#<p class="live_cont-block_like live_cont-block_like_left"><i class="fas fa-thumbs-down"></i></p>#}
                        {#<p class="live_cont-block_like_right"><i class="far fa-star"></i></p>#}
                    {#</div>#}
                    {#<p class="chart_bitcoin-reting_prozent">Sentiment: {[{allimg[curr.fromSymbol].sentiment}]}% Buying</p>#}

                    {#<div class="chart_bitcoin-reting_progress-bar">#}
                        {#<div class="reting_progress-bar_click"  ng-class="{'reting_progress-bar_click_red':allimg[curr.fromSymbol].sentiment < '50'}"></div>#}
                    {#</div>#}
                    {#<div class="live_cont-block_hover">#}
                        {#<p class="live_cont-block_hover_text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis excepturi inventore labore quo recusandae repellendus sequi. A consectetur ducimus exercitationem fugit, itaque, labore, possimus quam quos ratione repellat velit voluptatem.</p>#}
                    {#</div>#}
                {#</div>#}
                {#<a class="live_trade-btn" href="http://borthy-carges.com/98dd47bc-5797-47bf-847a-784a2445ee36" target="_blank">TRADE NOW</a>#}
            {#</div>#}
        {#</div>#}
    {#</div>#}



{#</section>#}