<style>
    .typeahead-demo .custom-popup-wrapper {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1000;
        display: none;
        background-color: #f9f9f9;
    }
    /*.dropdown-menu>li>a    {front-wight:500px!important; line-height: 2 !important;    }*/
    /*.dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus*/
    /*{ background-color: #eaeaea!important;color:black!important; }*/
    .dropdown-menu{    height: 450px;
        overflow: auto;}
    /*.ul{*/

    /*}*/
    input#search_country {
        /*background-image: url("./img/small_flags/gb.png");*/
        /*background-position: 10px center;*/
        /*background-repeat: no-repeat;*/
        /*border: 1px solid #ccc;*/
        /*-webkit-border-radius: 4px;*/
        /*-moz-border-radius: 4px;*/
        /*-ms-border-radius: 4px;*/
        /*-o-border-radius: 4px;*/
        /*border-radius: 4px;*/
        /*padding: 10px 5px;*/
        /*text-indent: 20px;*/
        /*-webkit-transition: all 0.2s;*/
        /*-moz-transition: all 2s;*/
        /*transition: all 0.2s;*/
    }

    input#search_country:focus {
        /*background-position: -20px center;*/
        /*text-indent: 0;*/
    }

    input#search_country::placeholder {
        /*background-position: -20px center;*/
        /*margin-left:15%;*/
        /*text-indent: 0;*/
    }
    /*.typeahead-demo .custom-popup-wrapper > .message {*/
        /*padding: 10px 20px;*/
        /*border-bottom: 1px solid #ddd;*/
        /*color: #868686;*/
    /*}*/

    /*.typeahead-demo .custom-popup-wrapper > .dropdown-menu {*/
        /*position: static;*/
        /*float: none;*/
        /*display: block;*/
        /*min-width: 160px;*/
        /*background-color: transparent;*/
        /*border: none;*/
        /*border-radius: 0;*/
        /*box-shadow: none;*/
    /*}*/

</style>
<div>
    <div class="chart_search_country  margin_bottom">
        <div class="container">
            <div class="row">
                <div class="reviec_cont-sezrch-country  typeahead-demo" >
                    <input classid="typeahead-focus"  type="text"  class="search_input country"
                           ng-model="customSelected"
                           {#typeahead-input-formatter="inputFormatter($model)"#}

                           typeahead-focus-first="true"
                           uib-typeahead="state as state.name for state in listCountry | filter:{name:$viewValue} | orderBy:'name'"
                           typeahead-template-url="customTemplate.html" class="form-control"
                           typeahead-show-hint="true"
                           typeahead-min-length="0"
                           typeahead-should-select="shouldSelect($event)"
                           typeahead-on-select="onSelect($item, $model, $label)"
                           placeholder="{{country_name}}"
                    >
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/ng-template" id="customTemplate.html">
    <a style="cursor: pointer">
        <img ng-src='{{asset("img/small_flags/{[{match.model.value}]}.png")}}' width="16">
        <span ng-bind-html="match.label | uibTypeaheadHighlight:query"></span>
    </a>
</script>
