<div class="chart_search margin_bottom">
    <div class="container">
        <div class="row">
            <div class="reviec_cont-sezrch">
                <div class="reviec_cont-sezrch_right">
                    <div class="watchlist-cont">
                        <a class="watchlist-cont_all watchlist-cont_all_active">ALL</a>
                        <a class="watchlist-cont_all">WATCHLIST</a>
                    </div>
                    <div class="watchlist-cont watchlist-cont_right">
                        <a class="watchlist-cont_all list" ><i class="fas fa-list"></i></a>
                        <a class="watchlist-cont_all watchlist-cont_all_active grid"><i class="fas fa-th"></i></a>
                    </div>
                </div>
                <input class="search_input" type="text" placeholder="Search Instruments">
            </div>
        </div>
    </div>
</div>