{% extends 'test.html.twig' %}

{% block body %}
    <section class="table">
        <div class="container">
            <div class="row">
                <div class="content-text">
                    <h4 class="content-text_title center">PRIVACY POLICY - Last Modified 1 July 2018</h4>
                    <p class="content-text_min-text">MARKETING66 LTD dba TRADINGCOMPARE (“Company” or “We”) is committed to protect your privacy. This privacy policy (“Privacy Policy”) describes our practices of processing data from (i) visitors to our site available at: www.tradingcompare.com and the mobile application (“Website”); (ii) our Customers using our Services (all as detailed and defined below); and (iii) our affiliates and merchants (“Business Partners”).
                    </p>
                    <p class="content-text_min-text">We have included below information about which data is collected, how we process and use your data, but before, we would like to explain the basis on which we do so:
                    </p>
                    <p class="content-text_min-text">We have included below information about which data is collected, how we process and use your data, but before, we would like to explain the basis on which we do so:
                    </p>
                    <p class="content-text_min-text">(i) Where a Business Partner registers for any of our Services, we process a Business Partner’s Personal Information in order to perform our contract with the Business Partner;
                    </p>
                    <p class="content-text_min-text">(ii) Where a Customer uses our Services to facilitate payment to our Business Partners or purchase the good and services we offer, we process the Customer’s Personal Information in order to perform our contract with the Customer;
                    </p>
                    <p class="content-text_min-text">(iii) When visitors access our site, we collect certain online identifiers which we have a legitimate interest in processing such data;
                    </p>
                    <p class="content-text_min-text">(iv) For direct marketing of either our Business Partner  or Customers we have legitimate interest to process such data; or
                    </p>
                    <p class="content-text_min-text">(v) We will also process your Personal Information where you have provided us with consent to do so.
                    </p>

                    <h4 class="content-text_title ">
                        Information Collection

                    </h4>

                    <p class="content-text_min-text">Depending on your interaction with us (meaning, if you are just browsing our Website, or if you have registered to our Services and opened an account, etc.), we may collect two types of information you, as follows:
                    </p>
                    <p class="content-text_min-text">Non-Personal Information: The first type of information is non-identifiable information which may be made available or gathered through your use of the Services. To clarify, we are not aware of your identity due to such information (“Non-Personal Information”). The Non-Personal Information which is being collected may include your aggregated usage information and technical information transmitted or automatically collected such as (but not limited to): the time and date you access our Website, your actions within our Services (e.g., registration, pages viewed, etc.), type of operating system, type of browser, language preference and approximate geo-location (country level).
                    </p>
                    <p class="content-text_min-text">Personal Information: The second type of information is individually identifiable information, namely information that identifies an individual or may with reasonable effort identify an individual (“Personal Information”). Personal Information includes either: (i) contact information such as your name, phone number, address, email address, etc., which you have submitted voluntarily; (ii) your Internet Protocol (“IP”) address and MAC address or other Online Identifiers. Note that, while IP and MAC address are considered personally identifiable information in many jurisdictions (such as the EEA), there are some jurisdictions in which such data is not considered as Personal Information. Therefore, we treat such information as Personal Information, in accordance with applicable laws; (iii) payment information such as, individual taxpayer number, BIN and last four digits of the credit card number. All payment information is handled through industry standard secure protocols and where appropriate in accordance with relevant Payment Card Industry (“PCI”) compliance standards.
                    </p>

                    <p class="content-text_min-text">You are not required by law to provide us with any information. You can always avoid providing us certain Personal Information; however, you acknowledge that it may prevent us from providing you certain Services.
                    </p>
                    <p class="content-text_min-text">In the event we combine Personal Information with Non-Personal Information, the combined information will be treated as Personal Information for as long as it remains combined.
                    </p>
                    <h4 class="content-text_title ">Information we collect from visitors of our Website
                    </h4>

                    <p class="content-text_min-text">
                    </p>
                    <p class="content-text_min-text">
                    </p>



                </div>
            </div>
        </div>
    </section>

{% endblock %}