{% extends 'test.html.twig' %}

{% block body %}
    <section class="table">
        <div class="container">
            <div class="row">
                <div class="content-text">
                    {#<h4 class="content-text_title ">#}
                        {#<u> TERMS AND CONDITIONS#}
                            {#<br> WWW.TRADINGCOMPARE.COM#}
                        {#</u>#}
                    {#</h4>#}
                    <h4 class="content-text_title center"> TERMS AND CONDITIONS </h4>
                    <h4 class="content-text_title center"> WWW.TRADINGCOMPARE.COM</h4>
                    <p class="content-text_min-text">
                        This disclaimer and these terms and conditions of use tell you how the Site is managed and how you are protected when you
                        are using our Site, Application and/or our Services.
                        <br>
                    </p>
                    <p class="content-text_min-text"> These terms and conditions of use and disclaimer, together with the terms of the Privacy Policy available
                        at www.xosignals.com (the
                        <b>“Privacy Policy”</b>) (collectively, these
                        <b>“Terms Of Use”</b>) form an integral part of any use of the Site or our Services, as such terms are defined
                        below, and you agree to be bound by them and to comply with all applicable laws and regulations regarding
                        your use of the Site and the Services and you acknowledge that even though these Terms of Use are electronic
                        and are not physically signed by you and the Company, these terms of use constitute a binding and enforceable
                        legal contract between the Company and you.
                    </p>
                    <p class="content-text_min-text">
                        <b>Risk Warning:</b>
                        Trading foreign exchange, cryptocurrencies, CFDs, indexes and commodities is potentially full of high risk and may not be
                        suitable for all investors. The high level of leverage can work both for and against traders. Before
                        any investment you need to carefully consider your targets, previous experience, and risk level. Trading
                        can result in the loss of your money, as a result, you are expressly cautioned that you should never
                        invest or trade with money that you cannot afford to lose.</b>
                    </p>
                    <h4 class="content-text_title ">
                        <u> DISCLAIMER
                        </u>
                    </h4>
                    <p class="content-text_min-text">The content of this website is intended to convey general information only. This website/app (hereinafter
                        the “website”) does not provide legal, investment, tax, etc. advice. You should not treat any information
                        as a call to make any particular decision regarding cryptocurrency usage, legal matters, investments,
                        taxes, cryptocurrency mining, exchange usage, wallet usage, etc. We strongly suggest seeking advice from
                        your own financial, investment, tax, or legal adviser. Neither this website nor its parent companies
                        accept any responsibility for any loss, damage, or inconvenience caused as a result of reliance on information
                        published on, or linked to the website.
                    </p>
                    <h4 class="content-text_title ">
                        <u> NO FINANCIAL ADVICE
                        </u>
                    </h4>
                    <p class="content-text_min-text">The Information on this website is provided for education and informational purposes only, without any express
                        or implied warranty of any kind, including warranties of accuracy, completeness, or fitness for any particular
                        purpose. The Information contained in or provided from or through this website is not intended to be
                        and does not constitute financial advice, investment advice, trading advice or any other advice. The
                        Information on this website and provided from or through this website is general in nature and is not
                        specific to you the User or anyone else. You should not make any decision, financial, investment, trading
                        or otherwise, based on any of the information presented on this website without undertaking independent
                        due diligence and consultation with a professional broker or financial advisory. You understand that
                        you are using any and all Information available on or through this website at your own risk. The information
                        provided on this website does not constitute investment advice, financial advice, trading advice or any
                        other sort of advice and you should not treat any of the website's content as such. The Website does
                        not recommend that any cryptocurrency should be bought, sold or held by you and nothing on this website
                        should be taken as an offer to buy, sell or hold a cryptocurrency. Do conduct your own due-diligence
                        and consult your financial advisory before making any investment decision.
                    </p>
                    <h4 class="content-text_title ">
                        <u> RISK STATEMENT & ACCURACY OF INFORMATION

                        </u>
                    </h4>
                    <p class="content-text_min-text">Trading has potential rewards, and it also has potential risks involved. Trading may not be suitable for
                        all people. Anyone wishing to invest should seek his or her own independent financial or professional
                        advice. We will strive to ensure accuracy of information listed on this website although it will not
                        hold any responsibility for any missing or wrong information. You understand that you are using any and
                        all information available here AT YOUR OWN RISK.
                    </p>
                    <h4 class="content-text_title ">
                        <u>PRICE RISK
                        </u>
                    </h4>
                    <p class="content-text_min-text">The price of Bitcoin and other cryptocurrencies are very highly volatile. It is common for prices to increase
                        or decrease by over 100% in a single day. Although this could mean potential huge profits, this also
                        could mean potential huge losses. DO NOT INVEST ALL YOUR MONEY IN CRYPTOCURRENCIES. Only invest money
                        which you are willing to lose. Cryptocurrency trading may not be suitable for all users of this website.
                        Anyone looking to invest in cryptocurrencies should consult a fully qualified independent professional
                        financial adviser.
                    </p>
                    <p class="content-text_min-text">IF YOU DO NOT AGREE WITH THESE TERMS OF USE, YOU SHOULD LEAVE THE SITE IMMEDIATELY.
                    </p>
                    <ul>
                        <li>
                            <u>
                                <b>Introduction</b>
                            </u>
                        <li>Marketing66 Ltd. (the
                            <b> “Company”</b>) welcomes you to its website, www.tradingcompare.com where it provides adult users
                            (over the age of 16), (
                            <b>“User/s”</b>) with real-time graphs, trading information, financial info, re CFDs, Forex, Crypto
                            and other financial markets (
                            <b>“Information”</b>), regarding trading opportunities in the various trading markets (the
                            <b>“Service”</b>). </li>
                        <li>By using the Site and or our application you agree to be bound by these Terms of Use, whether or
                            not you register to use the Service and become a member (
                            <b>“Member”</b>). If you wish to become a member and make use of the Service, please read these
                            Terms of Use carefully.</li>
                        <li>For the avoidance of doubt, the term
                            <b>“Site”</b>, as used in these Terms of Use shall refer to any system or platform which enables
                            access to the Services, be it a web connection and/or mobile application and/or any other device
                            which enables access to the Services. </li>
                        <li>The term
                            <b>“TRADINGCOMPARE”</b>,
                            <b>“Company”</b>,
                            <b>“us”</b>,
                            <b> “we”</b> or
                            <b>“our”</b>, refers to Marketing 66 LTD, the owner of the Site. The term
                            <b> “you”</b>,
                            <b> “your”</b>, and
                            <b>“yourself”</b>, refers to the User. </li>
                        </li>
                    </ul>
                    <br>
                    <ul>
                        <li>
                            <u>
                                <b>Disclaimer and Risk Disclosure</b>
                            </u>
                        <li>Please note that our Service is based on algorithms which are computer-generated.</li>
                        <li>While all information provided through the Service is believed to come from reliable sources, the
                            Company does not guarantee the accuracy, correctness, or completeness of information available
                            from its Service and therefore will not be liable for any loss incurred. </li>
                        <li>The Company reserves the right to make changes to the Site and/or the Services at any time at its
                            sole discretion, without having to give prior notice to you or any of its Members. </li>
                        <li>Due to the nature of computing, the Company’s Site and communications could fail at any given time.
                            As such the Company will not be responsible for unavailability of use of its Site, nor undelivered
                            Information due to Internet bandwidth problems, equipment failure or acts of God. </li>
                        <li>The Company does not guarantee that the Site or the Service will be continuous or error-free. The
                            Company will not be liable for the acts or omissions of any third party with regards to delay
                            or non-delivery of the Information. </li>
                        <li>Please note that trading contains a high degree of risk. As such, it should not be presumed that
                            the Information we provide will absolutely result in profits or that they will not result in
                            losses. Past results are not necessarily indicative of future results.</li>
                        <li>THE COMPANY MAKES NO REPRESENTATION WHATSOEVER THAT THE INFORMATION IT SENDS WILL INEVITABLY BE OR
                            INEVITABLY ARE SUITABLE FOR YOU OR THAT THEY WOULD BE PROFITABLE FOR YOU. PLEASE REALIZE THE
                            RISK INVOLVED WITH TRADING FOREX INVESTMENTS AND CONSULT AN INVESTMENT PROFESSIONAL BEFORE PROCEEDING.
                            OUR INFORMATION ARE HAVE BEEN DEVELOPED FOR SOPHISTICATED TRADERS WHO FULLY UNDERSTAND THE NATURE
                            AND THE SCOPE OF THE RISKS THAT ARE ASSOCIATED WITH TRADING. SHOULD YOU DECIDE TO TRADE ON THE
                            BASIS OF ANY OR ALL OF OUR SYSTEMS’ INFORMATION, IT IS YOUR DECISION.</li>
                        <li>The Company takes no responsibility for your trading activity and results.
                        </li>
                        <li>You hereby acknowledge that as an integral part of the Service your information shall be transferred
                            to a “Broker” who may allow you to trade using their platform should you choose to do so using
                            the links available through our Service. We are not liable to any services provided by such third
                            party brokers (which may change and vary from time to time) and which are provided on external
                            platforms and websites.</li>
                        </li>
                    </ul>
                    <br>
                    <ul>
                        <li>
                            <u>
                                <b>Membership Registration and Payment</b>
                            </u>
                        <li>The Company currently offers three paid membership plans: a monthly plan, a 6-month plan and a yearly
                            plan. Registering for a membership plan affords you with unlimited access to all features of
                            the Service. Membership requires a monthly membership fee (
                            <b>“Membership Fee”</b>). This fee may vary from Member to Member due to many factors including
                            date of sign-up and duration of Membership.</li>
                        <li>From time to time, the Company may change the Membership Fees, upon reasonable prior notice that
                            the Company will post on the Site or send you by email.
                        </li>
                        <li>You may pay the Membership Fees by using the methods of payments as available, published and updated
                            from time to time on the Service. Fees will be regarded as paid only after your payment has been
                            confirmed. Service will be available to you promptly after you have paid the Membership Fees.
                            YOU ACKNOWLEDGE THAT FEES ARE NOT REFUNDABLE.</li>
                        <li>The Company may add, modify, and remove Membership plans at will.
                        </li>
                        <li>You agree to pay or have paid all fees and charges incurred in connection with your Membership and
                            with the Service (including any applicable taxes) at the rates in effect when the charges were
                            incurred. All fees and charges are non-refundable. We may change the fees and charges in effect
                            for using the Service, or add new fees or charges. You also are responsible for any fees or charges
                            incurred to access the Service through an internet access provider or other third party service,
                            including but not limited to telephone charges.
                        </li>
                        </li>
                    </ul>
                    <br>
                    <ul>
                        <li>
                            <u>
                                <b>Intellectual Property</b>
                            </u>
                        <li>All Content used or displayed on the Site (
                            <b>“Site Content”</b>) is the exclusive property of the Company, its licensors or other third parties
                            who own the Site Content, and is protected by certain local and international copyright, trademark,
                            and other laws, unless in the public domain or otherwise made freely available by its owner.
                            <b>“Content”</b> is defined as all digital material including, without limitation information, videos,
                            photos, graphics, music, sounds, text, data, communications, illustrations, documentation, source
                            code and other material and services that users can view on or access through the Site. Except
                            for any rights specifically enumerated as being licensed to you hereunder, the Company reserves
                            any and all of its rights to the Site Content. You are only permitted to use Site Content as
                            expressly authorized by the Company or the specific Site Content provider.
                        </li>
                        <li>The Company grants you a limited, non-exclusive, non-sublicensable, non-transferable, revocable license
                            to access and make personal use of the Site for the regular and standard purposes the Site was
                            designed for, only as authorized in these Terms of Use. </li>
                        <li>Other than the rights expressly set forth in section 4(b) above, no other right or interest whatsoever
                            in or relating to the Site is transferred or granted to you. By use of the Site you acknowledge,
                            agree and otherwise consent not to engage in, permit another person or entity to engage, or otherwise
                            be related to or a part of the following restricted activities: (i) market, share, distribute,
                            offer to sell, sell or otherwise make reproductions or copies of the Site or the Site Content
                            in any way inconsistent with the rights of use provided by the Company herein; (ii) remove any
                            applicable, relevant identification, copyright, trademark or other notices relating to the intellectual
                            property or other property of the Company; (iii) attempt to access source or object code of the
                            Site; (iv) amend, change, modify (including the creation of any derivative or other works) the
                            Site; (v) create code, software or other program that incorporates any elements of the Site;
                            (vi) attempt to hack into, compromise or otherwise access the object or source code of the Site
                            for any purposes, personal or commercial; or (vii) interrupt or attempt to interrupt the operation
                            of the Site in any way. </li>
                        <li>You hereby warrant that you are entirely responsible for any and all Content you submit, post, contribute,
                            link to, upload, email, transmit or otherwise make available in any way by or through the Services.
                            You further warrant that you are the sole and rightful owner and have all necessary legal rights
                            to such Content and such rights will not infringe or violate any law or the rights of any person.
                        </li>
                        </li>
                    </ul>
                    <br>
                    <ul>
                        <li>
                            <u>
                                <b>Use of the Site.</b>
                            </u>
                        <li>You must be 16 years or older to use the Service. Registering and logging in to the Site shall be
                            deemed as confirmation that you are over the age of 16. If you are over the age of 16 but under
                            the age of 18, you will be requested to submit written consent from a parent or legal guardian
                            to use the Service (for more information, see Section titled "Minors" below).</li>
                        <li>You understand that, except for information, products or services clearly identified as being supplied
                            by the Company, the Company does not operate, control or endorse any information, products or
                            services on the Internet in any way. Except for the Site Content and the Service, all Content
                            and services offered through the Site or on the Internet generally are offered by third parties,
                            that are not affiliated with the Company.</li>
                        <li>You also understand that the Company cannot and does not guarantee or warrant that files available
                            for downloading through the Site will be free of infection or viruses, worms, Trojan horses or
                            other code that manifest contaminating or destructive properties. You are responsible for implementing
                            sufficient procedures and checkpoints to satisfy your particular requirements for accuracy of
                            data input and output, and for maintaining a means external to the Site for the reconstruction
                            of any lost data.</li>
                        <li>​You assume total responsibility and risk for your use of the Site and the internet. the Company
                            provides the Site and related information “as is” and does not make any express or implied warranties,
                            representations or endorsements whatsoever (including without limitation warranties of title
                            or non-infringement, or the implied warranties of merchantability or fitness for a particular
                            purpose) with regard to the Service, any merchandise information or service provided through
                            the Service or on the internet generally, and the Company shall not be liable for any cost or
                            damage arising either directly or indirectly from any such transaction. It is solely your responsibility
                            to evaluate the accuracy, completeness and usefulness of all opinions, advice, services, merchandise
                            and other information provided through the Service or on the internet generally. The company
                            does not warrant that the service will be uninterrupted or error-free or that defects in the
                            service will be corrected.
                        </li>
                        <li>You understand further that the pure nature of the internet contains unedited materials some of which
                            are sexually explicit or may be offensive to you. Your access to such materials is at your risk.
                            The Company has no control over and accepts no responsibility whatsoever for such materials.</li>
                        <li>Inter alia, the Site enables Users to upload, to download and to view certain materials on the Site.
                            The User hereby consents only to use the Site in accordance with these Terms of Use and as permitted
                            by law.
                        </li>
                        <li>You understand and agree that the Company may delete any Content that in the sole judgement of the
                            Company violates these Terms of Use or which might be offensive, illegal or that might violate
                            the rights, harm or threaten the safety of any third party.</li>
                        <li>We believe that all users benefit from basic rules regarding conduct while using the Services. Widespread
                            use and enjoyment of the Services is jeopardized when a few individuals act irresponsibly. To
                            help everyone have a positive experience, we ask, and you agree, to follow the following basic
                            rules of conduct when using the Services:</li>
                        <li>You will follow these Terms of Use and all applicable laws; and
                        </li>
                        <li>You will not use the Site to engage in commercial activities and/or to distribute, market or promote
                            the sale of products without the Company’s prior written consent; and</li>
                        <li>You will not impersonate any other person or misrepresent a relationship with any person or entity,
                            including misrepresenting a relationship with the Company; similarly, you will not adopt a false
                            identity if the purpose of doing so is to deceive or defraud another;
                        </li>
                        <li>You will not send, broadcast or promote information that you know is false, misleading or promotes
                            illegal activities or conduct that is abusive, threatening, obscene, defamatory or libellous;
                            and
                        </li>
                        <li>You will not embed any links in the Site without the Company’s prior written consent; and
                        </li>
                        <li>You will not make payments that include false billing information, whether whole or partial; and
                        </li>
                        <li>You will not post any Content that contains any viruses, cancel bots, Trojan horses, harmful code,
                            or other computer programs or code designed to interrupt the Site, the ability of users to enjoy
                            the Services, or the proper functioning of any software, hardware or equipment or materials used
                            in connection with the Services; and</li>
                        <li>You will not interfere with others’ use of the Site or act in a way that negatively affects other
                            users’ enjoyment of the Services;</li>
                        <li>You will not upload, post, email or otherwise make available any Content that promotes an illegal
                            or unauthorized copy of another person’s copyrighted work, such as providing pirated computer
                            programs or links to them, providing information to circumvent manufacture-installed copy-protect
                            devices, or providing pirated music or links to pirated music files
                        </li>
                        <li>You will not send any bulk unsolicited advertising, promotional information, email or other solicitation
                            (including without limitation junk mail, “spam,” chain letters or pyramid schemes of any sort)
                            to any person through the use of the Services.
                        </li>
                        <li>You will not participate in any action that, in the sole and absolute opinion of the Company, results
                            or may result in any user of the Site being scammed or defrauded in any way in connection with
                            such user’s use of the Site;
                        </li>
                        <li>
                            You will not harass, threaten or abuse other people when using the Site in any manner;
                        </li>
                        <li>You will not upload, post, email or otherwise make available any Content that is obscene or may be
                            hateful or offensive on racial, ethnic, sexual or any other grounds; is harmful, vulgar or distasteful;
                            or is defamatory, libelous, or invades another person’s privacy or proprietary rights, including
                            any patent, trademark, trade secret, or copyrights of any party;</li>
                        <li>You will not use or exploit any errors in design, features which have not been documented, or “bugs”
                            to gain access in any way that is not generally known and intentionally made available by the
                            Company, and you will promptly report to the Company your discovery of any such errors, features
                            or bugs.</li>
                        <li>You will not use the Site to harm minors in any way, or encourage interactions with minors of a sexual
                            nature;
                        </li>
                        <li>You will not collect or store personal information about any other individual on the Site, or otherwise
                            stalk, repeatedly contact or harass another user;</li>
                        <li>You will not attempt to harvest any user names or email addresses from the Site for any purpose;
                        </li>
                        <li>You will not manipulate the Site so as to hide your identity or participation in the Site (by using
                            another person’s identity, changing headers, or otherwise modifying any other possible identifier);
                        </li>
                        <li>The Company reserves the right, but has no obligation, to monitor the materials posted on the Site.
                            The Company shall have the right to investigate and take appropriate legal action in its sole
                            discretion against anyone who violates the law or these Terms of Use, including without limitation,
                            removing the offending communication from the Site and suspending or terminating your rights
                            to use the Site without giving you any notice. In the event that your rights to use the Site
                            are terminated, you will immediately lose access to any information that may be on the Site.
                            Notwithstanding this right, you remain solely responsible for the content of the materials you
                            post in the public areas of the service and in your private e-mail messages. </li>
                        <li>The Company reserves the right to terminate your access to the Site at any time. The Company may
                            also remove any Content that you post without cause and without notice to you. You understand
                            that the Company is not responsible for your inability to access any information on the service
                            for any reason, whether because of termination of your account; software, hardware, or internet
                            problems or errors; or any other reason</li>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <u>
                                <b>Underage Users</b>
                            </u>
                        <li>We require individuals to be at least 16 years old before they can create an account on the Site.
                            Providing false information to create an account is always a violation of this Agreement. This
                            includes accounts registered on the behalf of under 13 year old children by older parties.</li>
                        <li>If your underage child (child under the age of 16) has created an account on the Site, you can show
                            them how to delete their account by having them log into their account, select "Account settings"
                            from the Account menu in the top-right corner, then click "Delete my account". If you would like
                            to report an account registered for an underage child to us, please email the details to us at
                            contact@tradingcompare.com. We will promptly delete the account of any child under the age of
                            13 that is reported to us.</li>

                        </li>
                    </ul>
                    <ul>
                        <li>
                            <u>
                                <b>Minors</b>
                            </u>
                        <li>Minors (people under the age of 18) can use the Service provided that they are not underage (see
                            section on Underage Users above), and provided that they obtain the consent of their parent or
                            guardian for their use of the Service (
                            <b>“Consent”</b>). Minors must not use the Service without Consent until they reach the age of 18
                            or above.
                        </li>
                        <li>In some countries, the Service may display a special mandatory parent/guardian consent form when
                            a user determined to be a minor signs up or logs into the Service. In the consent form, a parent
                            or guardian is required to enter their full name and email address and to check boxes that declare
                            that they are a parent or guardian of the minor, accept this Agreement and the privacy policy
                            of the Service, and take responsibility for the for user of the Service by the Minor. If the
                            consent form is displayed, the Service cannot be used until it is filled out. If the user is
                            not a Minor, the form allows for the user to declare this and enter a correct year of birth.
                            When the consent form is filled out and submitted, the Service will document the details of the
                            Consent but will not make any further use of the details of the parent or guardian filled in
                            the consent form.</li>

                        </li>
                    </ul>
                    <ul>
                        <li>
                            <u>
                                <b>Web Crawlers</b>
                            </u>
                        </li>You may not deploy within our Site any bot, spider, web crawler or other automated query program at any
                        time for any reason. We prohibit scraping, crawling, caching or otherwise accessing any content on the
                        Site. The use of automated services or software to extract data from the Site for commercial purposes,
                        (‘screen scraping’) is prohibited unless you have a written license agreement with the Company which
                        permits you to do so.</ul>
                    <ul>
                        <li>
                            <u>
                                <b>Limitation of Liability</b>
                            </u>
                        <li>For the avoidance of doubt, it is hereby made clear that the Company’s sole role it to provide Information
                            regarding trading opportunities in the Forex market. The Company, its subsidiaries, agents or
                            affiliates will assume no responsibility whatsoever for your trading activity.</li>
                        <li>In no event shall the Company, its officers, directors, employees, or agents, be liable to you or
                            any third party for any direct, indirect, incidental, special, punitive, or consequential damages
                            whatsoever resulting from any (i) errors, mistakes, or inaccuracies of Content, (ii) any misinterpretations
                            or misrepresentations of Information; (iii) personal injury or property damage, of any nature
                            whatsoever, loss of profits, business interruption, loss of programs or information (and the
                            like) relating to or arising out of the use of or inability to use the Service, or any information,
                            or transactions provided on the Service, or downloaded from the Service, or any delay of such
                            information or Service (iv) any unauthorized access to or use of the Company secure servers and/or
                            any and all personal information and/or financial information stored therein, (v) any interruption
                            or cessation of transmission to or from the Site, (vi) any bugs, viruses, trojan horses, or the
                            like, which may be transmitted to or through the Site by any third party, and/or (v) any errors
                            or omissions in any content or for any loss or damage of any kind incurred as a result of your
                            use of any Content posted, emailed, transmitted, or otherwise made available via the Site, whether
                            based on warranty, contract, tort, or any other legal theory, and whether or not the Company
                            is advised of the possibility of such damages.
                        </li>
                        <li>Notwithstanding anything to the contrary in these Terms of Use, the Company’s (including any of its
                            affiliates) aggregate liability for damages (monetary or otherwise) under these Terms of Use
                            shall be limited to the payments made by you for the Service during the twelve (12) months preceding
                            the claim. The parties acknowledge and agree that the essential purpose of this section is to
                            allocate the risks under these Terms of Use between the parties and limit their potential liability
                            given the fees charged for use of the Site, which would have been substantially higher if the
                            Company were to assume any further liability other than as set forth herein. The parties have
                            relied on these limitations in determining whether to enter into these Terms of Use.
                        </li>
                        <li>The Company makes no representations whatsoever about any other web site which you may access through
                            the Site or which may link to the Site. When you access a non-Company website, please understand
                            that it is independent from the Company, and that the Company has no control over the content
                            on that website. In addition, a link to a company’s website does not mean that the Company endorses
                            or accepts any responsibility for the content, or the use, of such website.
                        </li>
                        <li>Some jurisdictions do not allow the exclusion of implied warranties or limitation of liability for
                            incidental or consequential damages, which means that some of the above limitations may not apply
                            to you. In these jurisdictions, the Company’s liability will be limited to the greatest extent
                            permitted by law.
                        </li>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <u>
                                <b>Indemnification</b>
                            </u>
                        <li>You agree to indemnify and hold the Company, its subsidiaries, affiliates, officers, agents, those
                            endorsing the Site, other partners and employees, harmless from any loss, liability, claim or
                            demand, including reasonable attorneys’ fees, sustained or made by any third party due to or
                            arising out of your use of the Site and the Service in violation of these Terms of Use and/or
                            arising from a breach of these Terms of Use and/or any breach of your representations and warranties
                            set forth above. </li>
                        <li>This indemnity shall be applicable without regard to the negligence of any party, including any indemnified
                            person. </li>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <u>
                                <b>Company Rights</b>
                            </u>
                        <li>The Company reserves the right to change any of the terms and conditions in these Terms of Use, at
                            any time and in its sole discretion, and such modifications shall be effective immediately upon
                            posting of the modified terms on the Site. Without limiting the generality of the foregoing,
                            payments, and all other provisions of these Terms of Use are subject to change without notice
                            other than posting a notification of such on the Site and/or notifying Users of such at or immediately
                            prior to finalizing payment through the Site. You agree to review the Terms of Use periodically
                            to be aware of such modifications and your continued access or use of the Site and the Service
                            shall be deemed your conclusive acceptance of the modified Terms of Use.</li>
                        <li>The Company reserves the right to take down and/or modify the Site, its design, layout, content or
                            the availability of its Site, at any given time, without being required to provide its Users
                            with advance warning of such and you hereby acknowledge not to take any legal claims, suits or
                            actions against the Company in relation to the foregoing.</li>

                        </li>
                    </ul>
                    <ul>
                        <li>
                            <u>
                                <b>Miscellaneous</b>
                            </u>
                        <li>
                            <u>Survivability of these Terms of Use –</u> These Terms of Use shall continue to remain in full
                            force and effect until such time as terminated by either party. You retain full discretion to
                            end or terminate and discontinue use of the Site and the Services at any time, pursuant to the
                            terms of these Terms of Use. The provisions of Sections 1, 2, 4 through 12 shall survive any
                            termination of these Terms of Use. </li>
                        <li>
                            <u>Assignment -</u>the Company may assign these Terms of Use, in whole or in part, at any time.
                            Notwithstanding, you may not assign, transfer or sublicense any or all of your rights or obligations
                            under these Terms of Use without the Company’s express prior written consent.
                        </li>
                        <li>
                            <u>Governing Law – </u>These Terms of Use shall be exclusively governed by and construed in all
                            respects under the laws of the State of Israel, without giving effect to any choice-of-law or
                            conflict-of-law provisions. Any and all legal claims, suits or actions that arise in connection
                            with these Terms of Use or with breach of these Terms of Use shall be submitted exclusively to
                            the personal jurisdiction of the courts located in Jerusalem, Israel.
                        </li>
                        <li>
                            <u>Notices – </u>All notices to a party shall be in writing and shall be made either via email or
                            conventional mail. The parties agree that all correspondence relating to these Terms of Use shall
                            be written in the English language. Notices to the Company must be sent to the attention of Customer
                            Service at contact@tradingcompare.com, if by email, or to the Company at the address below if
                            by conventional mail. Notices to you may be sent to the email or mailing address supplied by
                            you as part of your account or user profile, if any. In addition, we may broadcast notices or
                            messages through the Site to inform you of changes to the Site or the Services or other matters
                            of importance, and such broadcasts shall constitute notice to you at the time of sending. </li>
                        <li>
                            <u>Entire Agreement – </u> These Terms of Use, accepted by you upon your use of the Site and further
                            affirmed by your registration to become a Member, constitute the entire agreement and understanding
                            between you and the Company concerning the subject matter of the Terms of Use and supersedes
                            all prior agreements and understandings of you and the Company with respect to that subject matter.
                            These Terms of Use may not be altered, supplemented, or amended by the use of any other document(s),
                            unless otherwise agreed to in a written agreement signed by you and the Company. To the extent
                            that anything in or associated with the Site or Services is in conflict or inconsistent with
                            these Terms of Use, these Terms of Use shall take precedence. </li>
                        <li>
                            <u>Severability – </u> If any part of these Terms of Use is determined to be invalid or unenforceable,
                            then the invalid or unenforceable provision will be deemed superseded by a valid, enforceable
                            provision that most closely matches the intent of the original provision and the remainder of
                            these Terms of Use shall continue to remain in effect. </li>
                        <li>
                            <u>No Waiver –</u> the Company’s failure to enforce at any time any provision of these Terms of
                            Use does not constitute a waiver of that provision or of any other provision of these Terms of
                            Use.</li>
                        <li>
                            <u>Reservation Of Rights –</u> All rights not expressly granted herein are reserved by the Company.</li>
                        <li>Any questions regarding these Terms of Use should be sent to contact@tradingcompare.com. </li>
                        <li>These Terms of Use and the TRADING COMPARE Service are Copyright © 2018 MARKETING66 LTD. “TRADING
                            COMPARE” is a trademark of MARKETING66 LTD.
                        </li>
                        <li>
                            <u>
                                <b>I HAVE READ THESE TERMS OF USE AND AGREE TO ALL OF THE PROVISIONS CONTAINED ABOVE.</b>
                            </u>
                        </li>



                        </li>
                    </ul>


                </div>
            </div>
        </div>
    </section>
{% endblock %}