/* COMMENT PART */
.chart_comments, .review_cont-btn {
    width: 100%;
    display: table;
}

.chart_comments {
    background-color: white;
    margin: 0;
    padding: 35px 25px 0 25px;
}

.review_title_botoom {
    border-bottom: 1px solid #ECECEC;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    line-height: 22px;
    font-weight: 600;
    padding: 0 0 20px 20px;
}
.comments-form {
    padding: 45px 185px 45px 0;
    position: relative;
    width: 100%;
    display: table;
}

.comments-form_cont {
    width: 50%;
    float: left;
    display: table;
}

.comments_input {
    width: 100%;
    line-height: 40px;
    /*font-family: 'Roboto';*/
    font-weight: 400;
    font-size: 18px;
    padding: 0 15px;
    color: #9f9f9f;
    border-radius: 3px;
    border: 1px solid #9f9f9f;
}

.comments-form_cont_left {
    padding-right: 20px;
}

.comments-form_cont_right {
    padding-left: 20px;
}

.comments-form_left {
    display: table;
    width: 100%;
    float: left;
}

.comments-form_right {
    display: table;
    float: right;
    width: 160px;
    position: absolute;
    right: -185px;
    border: 1px solid transparent;
    bottom: 0;
    position: relative;
}
.touch_your-comment {
    width: 100%;
    margin: 15px 0 0 0;
    border-radius: 3px;
    border: 1px solid #9f9f9f;
    color: #9f9f9f;
    padding: 0 15px;
    min-height: 140px;
    line-height: 40px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

.comment_btn {
    width: 100%;
    display: block;
    position: absolute;
    line-height: 45px;
    bottom: 6px;
    left: 0;
    line-height: 40px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 2px;
    color: white;
    background-color: #12A6F9;
    border-radius: 3px;
    border: 1px solid white;
    transition: 0.3s all;
}

.comments_user-cont {
    border-bottom: 1px solid #ECECEC;
    padding: 15px 0 10px 0;
    display: table;
    float: left;
    width: 100%;
}

.comments_user-cont_img {
    float: left;
    border-radius: 15px;
    width: 70px;
    margin-right: 20px;
}

.comments_user-cont_text {
    display: contents;
    position: relative;
    font-family: 'Roboto';
}

.comments_user-cont_name {
    color: #1E375E;

    font-size: 20px;
    font-family: 'Avenir';
    font-weight: 700;
}

.comments_user-text {
    display: table;
    color: #9B9B9B;
    font-size: 15px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;

}

.comments_user-text_reply {
    color: #12A6F9;
    display: table;
    margin-left: 50px;
    font-size: 12px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
}
.comments_user-text_reply p {
    display: block;
    float: left;
}

.mu-reply {
    color: #A4A9AC;
    float: right;
    margin-left: 25px;
}

.mu-reply a {
    color: #12A6F9;
}

.mu-reply a:hover {
    text-decoration: none;
    cursor: pointer;
}
.sub-comments {
    padding-left: 85px;
}
.comments_user-img {
    width: 100%;
}
/* END */

@media (max-width: 991px) {
    .comments-form { padding: 15px 0 0 0;    }
    .touch_your-comment { margin: 15px 0!important;    }
}

@media (max-width: 480px) {

    .comments-form_cont {width: 100%!important;}
    .comments-form_cont { padding: 0!important;  }
    .comments_user-cont_img {  width: 50px!important;  margin-right: 10px!important;    }
    .comments_user-text_reply {  margin-left: 30px!important;  }
    .sub-comments {padding-left: 30px;    }
    .comments_user-text { text-align: justify;    }
    /*hz*/
}

@media (max-width: 767px) {
    .chart_comments {padding: 0 15px!important;}
}


/********************************************************** COMMENTS ****************************************************************/

.tab {
    overflow: hidden;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 5px 16px;
    transition: 0.3s;
    font-size: 16px;
    color: #9b9b9b;
    line-height: normal;
    letter-spacing: 0.5px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;

}

/* Change background color of buttons on hover */
.tab button:hover {
    color: #12a6f9;

}

/* Create an active/current tablink class */
.tab button.active {
    color: #12a6f9!important;
    border-bottom: 4px solid #12a6f9;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    /*border-top: 1px solid #ECECEC;*/
    /*border: 1px solid #ccc;*/
    /*border-top: none;*/
}
hr{
    margin: 5px;
    width: 100%;
    height: 2px;
    background-color: #ECECEC;
    border: none; /*on supprime le style par défaut*/
}

.news-cont_img
{
    float: left;
    /*border-radius: 15px;*/
    width: 80px;
    margin-right: 20px;
}
@media (max-width: 991px) {
    .tab button {
        /*padding: 5px 14px;*/
        /*font-size: 14px;*/
        width:33.3%;
    }
}
@media (max-width: 480px) {
    .tab button {
        padding: 5px 14px;
        font-size: 14px;
        /*width:33.3%;*/
    }
}